<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>書籍一覧</title>
</head>

<body>
	
	<a href="/bookList/addBook">新規登録</a>
	<h1>書籍一覧(管理者)</h1>
	
	<!--登録更新暫定リンク-->
	<a href="/bookList/1/editBook">1</a>
	<a href="/bookList/2/editBook">2</a>
	<a href="/bookList/3/editBook">3</a>
	<a href="/bookList/4/editBook">4</a>
	<a href="/bookList/5/editBook">5</a>
	
	<script src="/js/jquery-3.7.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
	
</body>
</html>