<!DOCTYPE html>

<html>	
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>パスワード設定</title>
</head>
	
<style>
	h4,p,a{
		text-decoration: none;
		color:black;
		font-size: small;
		border-bottom: 1px solid transparent;
	}
	a:hover{
		border-bottom: 1px solid black;
	}
	.clmn{
		display:inline-block;
		margin-top:10px;
		margin-bottom:10px;
		width:200px
	}
	.form{
		margin-top:10px;
		margin-bottom:10px;
		margin-left:10px;
		width:200px;
	}
	#submitBtn{
		color:white; 
	}
	.btn-enabled{
		background-color: black;
		cursor: pointer;
	}
	.btn-disabled{
		background-color: lightgray;
	}	
</style>
	
<body>		
	<h4 style="margin-left: 25px; margin-bottom:50px;">書籍管理システム</h4>
	<div id="mode">
		<a 
			th:if="${login}"
			th:text="${login}"
			href="/bookList" 
			style=" margin-left: 25px"
		></a>
	</div>
	
	<div style="position:absolute; top:100px; left:250px">
		<h1>パスワード設定</h1>
		<hr style="width:850px">
		<div th:if="!${success}">
			<div th:if="!${error}">
				<p style="margin-bottom:50px">
					設定するパスワードをを入力してください。	
				</p>
			</div>
		</div>
		<div th:if="${success}">
			<p th:text="${success}" style="margin-bottom:50px;color:green"></p>
		</div>
		<div th:if="${error}">		
			<p th:text="${error}" style="margin-bottom:50px;color:orangered"></p>
		</div>
		<div class="container">
			<form th:action="@{/passwordSetting/setting}" method="post">
			
				<!--トークン取得-->
				<input type="hidden" name="token" th:value="${token}">
				
				<div style="display: flex;">
					<p class="clmn">再設定パスワード</p>
					<input 
						class="form"
						type="password"
						id="newPassword"
						name="newPassword"
					>
				</div>
				<div style="display: flex;">
					<p class="clmn">再設定パスワード（確認）</p>
					<input
						class="form"
						type="password"
						id="reNewPassword"
						name="reNewPassword"
					>
				</div>	
				<button
					style="
						border:none;
						margin-top:20px;
						margin-bottom:100px;
						margin-left:210px;
						width:75px;
						height:30px"
					type="submit"
					id="submitBtn"
					class="btn-disabled"
					disabled
				>設定</button>
			</form>	
		</div>
	
	<script>
		const newPasswordInput = document.getElementById('newPassword');
		const reNewPasswordInput = document.getElementById('reNewPassword');
		const submitBtn = document.getElementById('submitBtn');
			
		//ボタンの有効/無効を切替
		function checkInputs() {
		//タイトル、著者、購入日、カテゴリの入力確認
		if(newPasswordInput.value.trim() !== ''
			&& reNewPasswordInput.value.trim() !== ''
		){
			//空白以外を確認
			submitBtn.disabled = false;
			submitBtn.classList.remove('btn-disabled');
			submitBtn.classList.add('btn-enabled');
		} else {
			//空白を確認
			submitBtn.disabled = true;
			submitBtn.classList.remove('btn-enabled');
			submitBtn.classList.add('btn-disabled');
			}
		}	
		//必須項目にリスナーを付与
		newPasswordInput.addEventListener('input', checkInputs);
		reNewPasswordInput.addEventListener('input', checkInputs);	
	</script>
	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>	
				
</html>